

.gameSelect {
  width: 85%;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.chooseGameContainer {
  padding-top: 5%;
}
button {
  font-size: 23px;
}

h4 {
  font-size: 31px;
  bottom-border: 7px black solid;
  }

.gameListContainer {
  margin: 0;
  list-style: none;
  font-size: 19px;
}


