

.tictactoecontainer {
  width: $tictactoecontainerWidth;
  height: $tictactoecontainerHeight;
  margin: 40px auto;
  border: 3px black solid;
}

.cell {
  width: $cellWidth;
  height: $cellHeight;
  border: $cellBorderWidth black solid;
  display: inline-block;
  margin: 0;

  p {
    margin: 0;
    position: absolute;
  }
}
