$tictactoecontainerWidth: 450px;
$tictactoecontainerHeight: 450px;
$cellBorderWidth: 5px;
$cellWidth: ($tictactoecontainerWidth/3) - ($cellBorderWidth*1.2);
$cellHeight: ($tictactoecontainerHeight/3) - ($cellBorderWidth*1.2);

