$tictactoecontainerWidth: 500px;
$tictactoecontainerHeight: 500px;
$cellBorderWidth: 1px;
$cellWidth: ($tictactoecontainerWidth/3) - ($cellBorderWidth*5);
$cellHeight: ($tictactoecontainerHeight/3) - ($cellBorderWidth*5);

