doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title TicTacToe
    link(rel='stylesheet', href='css/main.css')
  body
      <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    .login.hidden
      h1 Please Login Or Register
      form
        .username
          label Enter Username
          input.userNameInput(type='text', name='username', placeholder='Username', required='required' )
        .password
          label Enter Password
          input.userPasswordInput(type='password', name='password', placeholder='Password' required='required')
        button.register Register
        input.loginButton(type='submit', name='login', value='Login')
    .gameSelect.hidden
      .createGameContainer
        button.addgamebutton.
          Create Game
      .chooseGameContainer
        h4 Choose A Game From List Below
        ul.gameListContainer

    .app
      .titlecontainer
        p.title Tic-Tac-Toe
      .tictactoecontainer
        .cell#topleftcell(data-cell='topleftcell')
        .cell#topmidcell(data-cell='topmidcell')
        .cell#toprightcell(data-cell='toprightcell')
        .cell#midleftcell(data-cell='midleftcell')
        .cell#midmidcell(data-cell='midmidcell')
        .cell#midrightcell(data-cell='midrightcell')
        .cell#botleftcell(data-cell='botleftcell')
        .cell#botmidcell(data-cell='botmidcell')
        .cell#botrightcell(data-cell='botrightcell')

      // build:js js/vendor.min.js
      // bower:js
      // endbower
      // endbuild

      // build:js js/main.min.js
      script(src="/scripts/index.js")
      // endbuild
